---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Good reads -->
          {% if page.goodreads -%}
          <style type="text/css" media="screen">
            .gr_grid_container {
              /* customize grid container div here. eg: width: 500px; */
            }
          
            .gr_grid_book_container {
              /* customize book cover container div here */
              float: left;
              width: 98px;
              height: 160px;
              padding: 0px 0px;
              overflow: hidden;
            }
          </style>
          <div id="gr_grid_widget_1682828490">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <div class="gr_grid_container">
              <div class="gr_grid_book_container"><a title="A Promised Land" rel="nofollow"
                  href="https://www.goodreads.com/book/show/55361205-a-promised-land"><img alt="A Promised Land" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1600357110l/55361205._SX98_.jpg" /></a>
              </div>
              <div class="gr_grid_book_container"><a title="Carrying the Fire: An Astronaut's Journey" rel="nofollow"
                  href="https://www.goodreads.com/book/show/612456.Carrying_the_Fire"><img
                    alt="Carrying the Fire: An Astronaut's Journey" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347311290l/612456._SX98_.jpg" /></a>
              </div>
              <br style="clear: both" /><br /><a class="gr_grid_branding"
                style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow"
                href="https://www.goodreads.com/user/show/59966651-gayashan">Gayashan's favorite books »</a>
              <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Gayashan, and even join a <a
                  rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>
          
          </div>
          <script
            src="https://www.goodreads.com/review/grid_widget/59966651.Gayashan's%20currently-reading%20book%20montage?cover_size=medium&hide_link=&hide_title=true&num_books=20&order=d&shelf=currently-reading&sort=date_added&widget_id=1682828490"
            type="text/javascript" charset="utf-8"></script>
          {%- endif %}
          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
